/*!
 * Common Css 
 */
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-base: #003986;

  --color-link: #D53C63;

  --color-primary: #D53C63;

  --color-secondary: #FBB03B;

  --color-blockquote: rgb(0 57 134 / 50%);

  --bgColor-footer: #F1F3F9;
  --color-sticky: #46474A;
  --color-progress: rgb(70 71 74 / 15%);

  --color-border-input: #707070;
  --color-input: rgb(83 93 106 / 50%);

  /* Font/text values */
  --font-family-base: 'Poppins', sans-serif;
  --font-family-title: 'Playfair Display', serif;

  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}

/*** Common ***/
body {
  font-family: var(--font-family-base);
  font-size: #{$font-size-base}px;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  background-color: $blackColor;
  color: $baseColor;
}

b,
strong {
  font-weight: $font-weight-bold;
}

p {
  font-family: var(--font-family-base);
  font-size: 20px;
  @include fontSize(pxToEm(20), $font-weight-base);
  line-height: 30px;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.display_sp {
  display: none !important;
}

.title-page {
  font-family: $font-family-title;
  font-size: 45px;
  @include fontSize(pxToEm(45), $font-weight-base);
  line-height: 55px;
  color: $whiteColor;
  margin-bottom: 40px;
}

img,
video {
  height: auto;
  max-width: 100%;
}

.bg-image {
  @include bg-image;
}

/*** Links ***/
a {
  color: var($linkColor);
  text-decoration: none;
  @include transitionTime(0.4s)
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
  text-decoration: underline;
}

/*** Button Primary ***/
.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primaryColor;
  font-size: 22px;
  @include fontSize(pxToEm(22), $font-weight-medium);
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: $whiteColor;
  padding: 24px 35px;
  border: none;
  @include radius(39px);
  @include transitionTime(0.4s);
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus {
  background-color: $primaryColor;
  box-shadow: none;
}

.btn-primary:hover {
  background-color: $primaryColor;
  text-decoration: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: $whiteColor;
  opacity: 1;
}

/*** Button Secondary ***/
.btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondaryColor;
  font-size: 20px;
  @include fontSize(pxToEm(20), $font-weight-medium);
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: $whiteColor;
  padding: 16px 24px;
  border: none;
  @include radius(39px);
  @include transitionTime(0.4s);
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled):active:focus {
  background-color: $secondaryColor;
  box-shadow: none;
}

.btn-secondary:hover {
  background-color: $secondaryColor;
  text-decoration: none;
  box-shadow: inset 300px 0px rgba(0, 0, 0, 0.5);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  color: $whiteColor;
  opacity: 1;
}

.wobble_horizontal:hover {
  animation: wobble_horizontal 0.8s alternate ease;
  -webkit-animation: wobble_horizontal 0.8s alternate ease;
  -moz-animation: wobble_horizontal 0.8s alternate ease;
}

@keyframes wobble_horizontal {
  20% {
    transform: translateX(9px);
  }

  40% {
    transform: translateX(-6px);
  }

  60% {
    transform: translateX(6px);
  }

  80% {
    transform: translateX(-9px);
  }

  100% {
    transform: translateX(0px);
  }
}

@-webkit-keyframes wobble_horizontal {
  20% {
    -webkit-transform: translateX(9px);
  }

  40% {
    -webkit-transform: translateX(-6px);
  }

  60% {
    -webkit-transform: translateX(6px);
  }

  80% {
    -webkit-transform: translateX(-9px);
  }

  100% {
    -webkit-transform: translateX(0px);
  }
}

@-moz-keyframes wobble_horizontal {
  20% {
    -moz-transform: translateX(9px);
  }

  40% {
    -moz-transform: translateX(-6px);
  }

  60% {
    -moz-transform: translateX(6px);
  }

  80% {
    -moz-transform: translateX(-9px);
  }

  100% {
    -moz-transform: translateX(0px);
  }
}

/*  fancybox */
.fancybox-content {
  width: 93.75%;
  padding: 50px 140px 40px;
}

// billboard.js
.bb-chart-arc path {
  stroke: transparent !important;
}

.bb-chart-arcs-title {
  fill: rgb(0, 57, 134);
  font-family: var(--font-family-base);
  @include fontSize(41px, $font-weight-bold);
  line-height: 38px;
}

.bb-tooltip-container {
  display: none;
}