@include breakpoint(screenmin1200) {
  .content-counter {
    max-width: 1000px;
    padding-left: 0;
    padding-right: 0;
  }

  .content-health {
    max-width: 825px;
    padding-left: 0;
    padding-right: 0;
  }

  .content-compare {
    max-width: 912px;
    padding-left: 0;
    padding-right: 0;
  }
}

@include breakpoint(screenmin1366) {
  .content-main {
    max-width: 1350px;
    padding-left: 0;
    padding-right: 0;
  }

  .content-footer {
    max-width: 1350px;
    padding-left: 0;
    padding-right: 0;
  }
}

@include breakpoint(screenmin1600) {
  .content-main {
    max-width: 1580px;
    padding-left: 0;
    padding-right: 0;
  }
}

@include breakpoint(screenmax1600) {

  /*--------------------------------------------------------------
  Common
  --------------------------------------------------------------*/
  .title-page {
    font-size: 32px;
    @include fontSize(pxToEm(32), $font-weight-base);
    line-height: 40px;
    margin-bottom: 30px;
  }

  p {
    font-size: 16px;
    @include fontSize(pxToEm(16), $font-weight-base);
    line-height: 24px;
    margin-bottom: 12px;
  }

  /*** Button Secondary ***/
  .btn-secondary {
    font-size: 18px;
    @include fontSize(pxToEm(18), $font-weight-medium);
    line-height: 26px;
    padding: 12px 16px;
  }

  /*** Button Primary ***/
  .btn-primary {
    font-size: 18px;
    @include fontSize(pxToEm(18), $font-weight-medium);
    line-height: 26px;
    padding: 16px 20px;
  }

  .fancybox-content {
    width: 93.75%;
    padding: 25px 50px 20px;
  }

  .gallery-swiper {
    width: 100%;
  }

  // cookies
  .cookies-wrapper {
    .txt {
      margin-right: 80px;

      p {
        font-size: 20px;
        @include fontSize(pxToEm(20), $font-weight-base);
      }
    }

    .btn-action {
      .btn-secondary {
        margin-right: 15px;

        &.btn-ok {
          padding: 12px 14px
        }
      }
    }
  }

  // sticky-bar
  .sticky-bar {
    .material-timer {
      width: 140px;

      .content {
        .title {
          font-size: 16px;
          @include fontSize(pxToEm(16), $font-weight-light);
        }

        .date {
          font-size: 18px;
          @include fontSize(pxToEm(18), $font-weight-bold);
        }
      }
    }

    .txt {
      flex: 1 0 0%;

      p {
        font-size: 18px;
        @include fontSize(pxToEm(18), $font-weight-base);
        line-height: 26px;
        padding: 0 20px;
      }
    }

    .progress-wrapper {
      width: 300px;
      margin-right: 30px;

      .content {
        .price {
          .pri-txt {
            font-size: 16px;
            @include fontSize(pxToEm(16), $font-weight-base);
            line-height: 20px;
          }

          .pri {
            font-size: 24px;
            @include fontSize(pxToEm(24), $font-weight-bold);
            line-height: 30px;
          }
        }

        .progress {
          height: 22px;
          @include radius(20px);

          .progressbar-value {
            height: 22px;

            .percent {
              font-size: 18px;
              @include fontSize(pxToEm(18), $font-weight-extrabold);
              line-height: 26px;
            }
          }
        }

        .txt-small {
          font-size: 14px;
          @include fontSize(pxToEm(14), $font-weight-base);
          line-height: 19px;
          color: $stickyColor;
          text-align: center;
          margin-top: 9px;
        }
      }
    }

    .btn-wrapper {
      margin-right: 20px;
    }
  }

  // Module -- Screen 1 - Home of the LP
  .parallax-wrapper {
    &__content {
      &.end_scroll {
        bottom: -462px;
      }

      .txt {
        margin-top: 25px;

        p {
          font-size: 20px;
          @include fontSize(pxToEm(20), $font-weight-medium);
          line-height: 30px;
        }
      }
    }

    &__gallery {
      .gallery-left {
        &--item-1 {
          margin-top: 22px;
          margin-left: 28px;
        }

        &--item-2 {
          margin-top: 78px;
          margin-left: 168px;
        }

        &--item-3 {
          margin-top: 85px;
          margin-left: 0;
        }

        &--item-4 {
          margin-top: 85px;
          margin-left: 168px;
        }
      }

      .gallery-right {
        &--item-1 {
          margin-top: 47px;
          margin-right: 83px;
        }

        &--item-2 {
          margin-top: 100px;
          margin-right: 0;
        }

        &--item-3 {
          margin-top: 100px;
          margin-right: 42px;
        }
      }
    }
  }

  // Module -- Screen 3 - David Olère course
  .course-wrapper {
    position: relative;
    // display: block;
    padding-top: 180px;
    padding-bottom: 125px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background-color: $whiteColor;
      z-index: 1;
    }

    .main-heading-wrapper {
      position: relative;
      background-color: $blackColor;
      text-align: center;
      padding: 7px 0 16.5px;
      margin-bottom: 51.5px;
      z-index: 2;

      .title-page {
        margin-bottom: 0;
      }
    }

    &__content {
      margin-bottom: 60px;

      &.img-fl {
        .box-content {
          .txt {
            margin-bottom: 20px;
          }

          .block-quote {
            padding: 20px 25px 20px 30px;

            &::before {
              top: 20px;
              left: 15px;
              height: calc(100% - 40px);
            }

            h3.title {
              font-size: 18px;
              @include fontSize(pxToEm(18), $font-weight-bold);
              margin-bottom: 12px;
            }

            p {
              font-size: 14px;
              @include fontSize(pxToEm(14), $font-weight-light);
              line-height: 22px;
            }
          }
        }
      }

      &.img-fr {
        .box-content {
          .txt {
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  // Module -- Screen 4 / Screen 5 - preservation of archives
  .archives-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;

    &__content {
      margin-bottom: 60px;
    }
  }

  // Module -- Screen 6 - key figures
  .keyfigures-wrapper {
    padding-bottom: 60px;

    .title-page {
      margin-bottom: 30px;
    }

    &__counter {
      &--item {
        .count-up {
          font-size: 28px;
          @include fontSize(pxToEm(28), $font-weight-base);
          line-height: 36px;
        }
      }
    }
  }

  // Module -- Screen 7 - needs exacerbated by the health crisis
  .health-crisis-wrapper {
    padding-top: 40px;
    padding-bottom: 60px;

    .txt {
      margin-top: 30px;
    }

    .btn-primary {
      margin-top: 30px;
    }
  }

  // Module -- Screen 8 - Tax deduction insert
  .tax_deduction-wrapper {
    padding-top: 60px;
    padding-bottom: 30px;

    .title-page {
      margin-bottom: 30px;
    }

    &__box {
      padding-left: 5%; // 92.5px/456px
      margin-bottom: 30px;

      &:nth-child(2n) {
        padding-right: 5%; // 92.5px/456px
      }

      .txt {
        p {
          font-size: 14px;
          @include fontSize(pxToEm(14), $font-weight-base);
          line-height: 20px;

          &.small {
            font-size: 12px;
            @include fontSize(pxToEm(12), $font-weight-base);
          }
        }
      }
    }
  }

  /*--------------------------------------------------------------
  Footer
  --------------------------------------------------------------*/
  .footer {
    .footer-wrapper {
      &__col {
        margin-bottom: 25px;

        &--item {

          .title,
          p {
            font-size: 12px;
            @include fontSize(pxToEm(12), 400);
            line-height: 16px;
          }

          &.footer-newsletter {
            .title {
              margin-bottom: 12px;
            }
          }

          &.footer-social {
            .title {
              margin-bottom: 12px;
            }
          }
        }
      }

      &__copyright {
        a.copyright {
          font-size: 12px;
          @include fontSize(pxToEm(12), 400);
          line-height: 16px;
        }
      }
    }
  }
}

@include breakpoint(screenmax1366) {

  // Swiper
  .gallery-swiper {
    height: 36vw;

    &.swiper-coverflow {
      padding: 25px 0 58px;
    }

    .swiper-action {
      left: calc(50% - 60px);
      width: 120px;

      .smd-button-prev,
      .smd-button-next {
        width: 28px;
        height: 12px;
      }

      .swiper-pagination {
        width: 42px;
        height: 42px;
        font-size: 14px;
        @include fontSize(pxToEm(14), $font-weight-base);
        line-height: 16px;
      }
    }
  }

  .swiper-slide {
    .content {
      font-size: 14px;
      @include fontSize(pxToEm(14), $font-weight-base);
      line-height: 20px;
      margin-top: 6px;
    }

    &-active {
      padding-bottom: 40px;
    }
  }

  // Cookies
  .cookies-wrapper {
    height: unset;
    padding: 12px 0;

    .btn-close {
      top: calc(50% - 20px);
      right: 20px;
      width: 40px;
      height: 40px;
    }

    .txt {
      margin: 0 40px 12px;
    }
  }

  // Legal Notices Popup
  .legal-notices-popup {
    width: 90% !important;
    padding: 25px !important;
  }
}

@include breakpoint(maxipadpro) {
  .parallax-wrapper {
    &__content {
      &.end_scroll {
        bottom: -374px;
      }
    }
  }
}

@include breakpoint(ipadpro) {

  #parallax-scroll {
    background-size: cover;
  }

  // Module -- Screen 1 - Home of the LP
  .parallax-wrapper {
    .end_scroll {
      bottom: 0;
    }

    &__gallery {
      &--img {
        width: 60%;
      }

      .gallery-left {
        &--item-1 {
          margin-left: 20px;
        }

        &--item-2 {
          margin-left: 56px;
        }

        &--item-4 {
          margin-left: 56px;
        }
      }

      .gallery-right {
        &--item-1 {
          margin-right: 20px;
        }

        &--item-3 {
          margin-right: 20px;
        }
      }
    }
  }

  // Module -- Screen 8 - Tax deduction insert
  .tax_deduction-wrapper {
    &__box {
      padding-left: 0;

      &:nth-child(2n) {
        padding-right: 0;
      }
    }
  }
}

@include breakpoint(ipad) {

  /*--------------------------------------------------------------
  Common
  --------------------------------------------------------------*/
  .display_dk {
    display: none !important;
  }

  .display_sp {
    display: block !important;
  }

  .content-small {
    width: 100%;
    padding: 0 116px;
  }

  p {
    font-size: 36px;
    @include fontSize(pxToEm(36), $font-weight-base);
    line-height: 48px;
    margin-bottom: 48px;
  }

  .title-page {
    font-size: 61px;
    @include fontSize(pxToEm(61), $font-weight-bold);
    line-height: 68px;
    margin-bottom: 40px;
  }

  /*** Button Primary ***/
  .btn-primary {
    font-size: 36px;
    @include fontSize(pxToEm(36), $font-weight-medium);
    line-height: 26px;
    letter-spacing: 0.5px;
    padding: 24px 75px;
  }

  // swiper
  .swiper {
    width: 100%;
    height: unset;
    padding-bottom: 144px;

    &.swiper-coverflow {
      padding: 0;
    }

    &.loading {
      opacity: 0;
      visibility: hidden;
    }

    .swiper-action {
      position: absolute;
      left: calc(50% - 183px);
      bottom: 0;
      width: 366px;

      .smd-button-prev,
      .smd-button-next {
        width: 32px;
        height: 16px;
        @include transitionTime(0.4s);

        img {
          width: 100%;
        }
      }

      .swiper-pagination {
        position: relative;
        width: 100px;
        height: 100px;
        bottom: unset;
        background-color: $whiteColor;
        font-size: 39px;
        @include fontSize(pxToEm(39), $font-weight-base);
        line-height: 55px;
        color: $baseColor;
      }
    }
  }

  .swiper-slide {
    padding-bottom: 0;
    opacity: 1;

    .content {
      display: block;
      font-size: 36px;
      @include fontSize(pxToEm(36), $font-weight-medium);
      line-height: 42px;
      color: $whiteColor;
      margin-top: 14px;
      opacity: 1;
    }

    &-active {
      padding-bottom: 0;
      opacity: 1;
    }
  }

  // Cookies
  .cookies-wrapper {

    .btn-close {
      top: 20px;
      right: 10px;
    }

    .txt {
      margin: 0 50px 12px;

      p {
        text-align: center;
      }
    }
  }

  /*--------------------------------------------------------------
  Header
  --------------------------------------------------------------*/
  .header {
    width: 172px;
    top: 0;
    left: calc(50% - 86px);
  }

  // Module -- Screen 1 - Home of the LP
  .parallax-wrapper {
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('../img/bg_gradient_home.png');
      background-position: center;
      background-size: cover;
      z-index: 1;
    }

    &__content {
      position: relative;
      width: 100%;
      min-height: unset;
      top: unset;
      left: unset;
      padding: 312px 64px 0;
      z-index: 2;

      &::before {
        top: 172px;
        height: 136px;
      }

      .title-page {
        font-size: 62px;
        @include fontSize(pxToEm(62), $font-weight-bold);
        line-height: 77px;
      }

      .txt {
        margin-top: 40px;

        p {
          font-size: 30px;
          @include fontSize(pxToEm(30), $font-weight-medium);
          line-height: 36px;
        }
      }
    }
  }

  // Screen 1 - Gallery Mobile
  .gallery-wrapper {
    width: 100%;
    position: relative;
    padding: 89px 65px 55px;
    margin-top: 30px;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background-color: $whiteColor;
      z-index: 1;
    }

    &.show-slider {
      padding: 0 65px 90px;
      margin-top: 43px;

      &::before {
        display: none;
      }
    }

    .icon-glass {
      position: absolute;
      bottom: 8px;
      right: 8px;
    }

    &__list {
      position: relative;
      width: 100%;
      padding: 0 105px;
      padding: 0 16.58767772%;
      margin-bottom: 6px;
      z-index: 2;

      &:last-of-type {
        margin-bottom: 0;
      }

      .gallery-item-01 {
        flex: 0 0 auto;
        width: 167px;
        width: 39.38673245%;
      }

      .gallery-item-02 {
        flex: 0 0 auto;
        width: 85px;
        width: 20.04716981%;
      }

      .gallery-item-03 {
        flex: 0 0 auto;
        width: 158px;
        width: 37.26415094%;
      }

      .gallery-item-04 {
        flex: 0 0 auto;
        width: 131px;
        width: 30.89622641%;
      }

      .gallery-item-05 {
        flex: 0 0 auto;
        width: 140px;
        width: 33.01886792%;
      }

      .gallery-item-06 {
        position: relative;
        flex: 0 0 auto;
        width: 139px;
        width: 32.78301886%;
      }
    }

    &__slider {
      display: none;
      flex: 0 0 auto;
      width: 100%;
    }
  }

  // sticky
  .sticky-bar {
    height: 172px;

    .material-timer {
      flex-direction: column;
      width: 232px;

      img {
        width: 46px;
      }

      .content {
        margin-left: 0;

        .title {
          font-size: 36px;
          @include fontSize(pxToEm(36), $font-weight-light);
          line-height: 40px;
        }

        .date {
          font-size: 36px;
          @include fontSize(pxToEm(36), $font-weight-bold);
          line-height: 40px;
        }
      }
    }

    .txt {
      display: none !important;
    }

    .progress-wrapper {
      display: none !important;
    }

    .btn-wrapper {
      flex: 1 0 0%;
      margin-right: 0;
    }
  }

  // sticky mobile
  .sticky-bar-sp {
    position: relative;
    height: unset;
    padding: 94px 65px;
    z-index: 2;

    .txt {
      display: flex !important;
      width: 100%;

      p {
        font-size: 36px;
        @include fontSize(pxToEm(36), $font-weight-base);
        line-height: 48px;
        text-align: center;
      }
    }

    .progress-wrapper {
      display: flex !important;
      width: 100%;
      margin: 100px 0 0;

      .content {
        .price {
          .pri-txt {
            font-size: 43px;
            @include fontSize(pxToEm(43), $font-weight-base);
            line-height: 78px;
          }

          .pri {
            font-size: 66px;
            @include fontSize(pxToEm(66), $font-weight-bold);
            line-height: 78px;
          }
        }

        .progress {
          height: 54px;
          @include radius(27px);
          margin-top: 11px;

          .progressbar-value {
            height: 54px;

            .percent {
              font-size: 36px;
              @include fontSize(pxToEm(36), $font-weight-extrabold);
              line-height: 42px;
            }
          }
        }

        .txt-small {
          font-size: 36px;
          @include fontSize(pxToEm(36), $font-weight-base);
          line-height: 40px;
          padding: 0px 60px;
          margin-top: 23px;
        }
      }
    }
  }

  // Module -- Screen 3 - David Olère course
  .course-sp-wrapper {
    .content-small {
      margin-top: 70px;
      margin-bottom: 212px;
    }

    .title-page {
      margin-bottom: 55px;
    }

    .box-content {
      margin-bottom: 100px;

      &:last-of-type {
        margin-bottom: 0;
      }

      .txt {
        p {
          color: $whiteColor;
        }

        .thumbnail {
          margin: 23px 0 65px;
        }
      }

      .block-quote {
        position: relative;
        background-color: $blockquoteColor;
        padding: 48px 42px 50px;
        margin-top: 168px;

        .ct {
          position: relative;
          padding-left: 22px;
          margin-top: 37px;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
            background-color: $whiteColor;
          }

          h3.title {
            font-size: 36px;
            @include fontSize(pxToEm(36), $font-weight-bold);
            line-height: 48px;
            color: $whiteColor;
            margin-bottom: 77px;
          }

          p {
            color: $whiteColor;
            padding-bottom: 90px;
          }
        }
      }
    }
  }

  // Module -- Screen 4 / Screen 5 - preservation of archives
  .archives-sp-wrapper {
    background-color: $baseColor;
    padding-bottom: 400px;

    &__content {
      margin-bottom: 225px;

      .thumbnail {
        flex: 0 0 auto;
        width: 100%;
      }

      .box-content {
        margin-top: 80px;

        .title-page {
          margin-bottom: 80px;
        }

        .txt {
          p {
            color: $whiteColor;
          }
        }
      }
    }
  }

  // Module -- Screen 6 - key figures
  .keyfigures-sp-wrapper {
    background-color: $whiteColor;
    padding-top: 116px;
    padding-bottom: 180px;

    .title-page {
      color: $baseColor;
      text-align: center;
      margin-bottom: 114px;
    }

    &__counter {
      &--item {
        flex: 0 0 auto;
        width: 100%;
        margin-bottom: 87.5px;

        &:last-of-type {
          margin-bottom: 0;
        }

        .count-up {
          font-family: $font-family-title;
          font-size: 72px;
          @include fontSize(pxToEm(72), $font-weight-base);
          line-height: 80px;
          text-align: center;
          color: $blackColor;
          margin-bottom: 5px;
        }

        .txt {
          font-weight: $font-weight-medium;
          color: $blackColor;
          text-align: center;
          margin-bottom: 0;
        }
      }
    }
  }

  // Module -- Screen 7 - needs exacerbated by the health crisis
  .health-crisis-wrapper {
    padding-top: 93px;
    padding-bottom: 240px;

    .title-page {
      margin-bottom: 86px;
    }

    .txt {
      p {
        color: $whiteColor;
      }
    }
  }

  // Module -- Screen 8 - Tax deduction insert
  .tax_deduction-wrapper {
    background-color: $whiteColor;
    padding-top: 115px;
    padding-bottom: 157.5px;

    .title-page {
      color: $baseColor;
      text-align: center;
      margin-bottom: 115px;
    }

    &__box {
      flex: 0 0 auto;
      width: 100%;
      padding: 0;
      margin-bottom: 115px;
      border: none !important;

      &:last-of-type {
        margin-bottom: 0;
      }

      .pieBox {
        width: 230px;
        height: 230px;
        margin-bottom: 32px;

        .chart {
          width: 230px;
          height: 230px;
        }
      }

      .txt {
        p {
          font-size: 26px;
          @include fontSize(pxToEm(26), $font-weight-bold);
          line-height: 32px;
          text-align: center;
          color: $baseColor;
          margin: 0;

          &.small {
            font-size: 20px;
            @include fontSize(pxToEm(20), $font-weight-base);
            line-height: 32px;
            color: $baseColor;
            font-style: italic;
          }
        }
      }
    }
  }

  .bb-chart-arcs-title {
    font-family: var(--font-family-base);
    @include fontSize(58px, $font-weight-bold);
    line-height: 54px;
  }

  /*--------------------------------------------------------------
  Footer
  --------------------------------------------------------------*/
  .footer {
    .footer-wrapper {
      padding: 60px 30px 256px;

      &__col {
        margin-bottom: 86px;

        &--item {
          position: relative;
          flex: 0 0 auto;
          width: 100% !important;

          .title,
          p {
            font-size: 32px;
            @include fontSize(pxToEm(32), $font-weight-base);
            line-height: 40px;
            color: $whiteColor;
            text-align: center;
            margin-bottom: 0;
          }

          a {
            display: block;
            width: 100%;
            text-align: center;
          }

          &.footer-contact {
            padding: 0 70px 72px;

            &::before {
              content: "";
              position: absolute;
              left: calc(50% - 32px);
              bottom: 0;
              width: 64px;
              height: 6px;
              background-color: $whiteColor;
            }
          }

          &.footer-newsletter {
            padding-bottom: 60px;
            margin-top: 50px;

            &::before {
              content: "";
              position: absolute;
              left: calc(50% - 32px);
              bottom: 0;
              width: 64px;
              height: 6px;
              background-color: $whiteColor;
            }

            .title {
              margin-bottom: 62.4px;
            }

            input[type="email"] {
              height: 100px;
              font-size: 38px;
              @include fontSize(pxToEm(38), $font-weight-base);
              line-height: 49px;
              padding: 25px;
            }

            input[type="submit"] {
              width: 100px;
              height: 100px;
              font-size: 38px;
              @include fontSize(pxToEm(38), $font-weight-base);
              line-height: 49px;
              padding: 25px;
              margin-left: 10px;
            }
          }

          &.footer-social {
            flex: 0 0 auto;
            width: 100%;
            padding: 0 76px;
            margin-top: 50px;

            .title {
              text-align: center;
              margin-bottom: 42px;
            }
          }

          &.footer-logo {
            flex: 0 0 auto;
            margin-top: 40px;
            text-align: center;

            .logo-image {
              width: 172px;
              display: block;
              margin: 0 auto;
            }
          }
        }
      }

      &__copyright {
        padding: 0 76px;

        a.copyright {
          font-size: 28px;
          @include fontSize(pxToEm(28), $font-weight-black);
          line-height: 40px;
          text-align: center;
        }
      }
    }
  }

  #social-icons {
    ul {
      margin: 0;
    }

    .fa-stack {
      width: 128px;
      height: 128px;
      line-height: 128px;

      .fa-stack-2x {
        font-size: 128px;
      }

      .fa-stack-1x {
        color: $blackColor;
        font-size: 50px;
      }
    }
  }

  // Legal Notices Popup
  .legal-notices-popup {
    .fl {
      flex: 0 0 auto;
      width: 100%;
      padding-right: 0;
      border: none;
      padding-bottom: 25px;
    }

    .fr {
      flex: 0 0 auto;
      width: 100%;
      padding-left: 0;
      border: none;
      padding-bottom: 0;
    }
  }
}

@include breakpoint(mobile) {

  /*--------------------------------------------------------------
  Common
  --------------------------------------------------------------*/
  .content-small {
    width: 100%;
    padding: 0 40px;
  }

  p {
    font-size: 20px;
    @include fontSize(pxToEm(20), $font-weight-base);
    line-height: 30px;
    margin-bottom: 20px;
  }

  .title-page {
    font-size: 28px;
    @include fontSize(pxToEm(28), $font-weight-bold);
    line-height: 36px;
    margin-bottom: 30px;
  }

  /*** Button Primary ***/
  .btn-primary {
    font-size: 18px;
    @include fontSize(pxToEm(18), $font-weight-medium);
    line-height: 30px;
    letter-spacing: 0.5px;
    padding: 12px 18px;
  }

  /*** Button Secondary ***/
  .btn-secondary {
    font-size: 14px;
    @include fontSize(pxToEm(14), $font-weight-medium);
    line-height: 20px;
    padding: 8px 16px;
  }

  // swiper
  .swiper {
    padding-bottom: 80px;

    .swiper-action {
      left: calc(50% - 71px);
      bottom: 0;
      width: 142px;
      height: 50px;

      .swiper-pagination {
        position: relative;
        bottom: unset;
        width: 50px;
        height: 50px;
        font-size: 18px;
        @include fontSize(pxToEm(18), $font-weight-base);
        line-height: 26px;
      }
    }
  }

  .swiper-slide {
    .content {
      font-size: 20px;
      @include fontSize(pxToEm(20), $font-weight-base);
      line-height: 30px;
      margin-top: 10px;
    }
  }

  // Cookies
  .cookies-wrapper {
    padding: 6px 0;

    .btn-close {
      width: 30px;
      height: 30px;
    }

    .txt {
      margin: 0 40px 6px;

      p {
        font-size: 14px;
        @include fontSize(pxToEm(14), $font-weight-base);
        line-height: 18px;
      }
    }

    .btn-action {
      .btn-secondary {
        margin-right: 6px;

        &.btn-ok {
          padding: 8px;
        }
      }
    }
  }

  /*--------------------------------------------------------------
  Header
  --------------------------------------------------------------*/
  .header {
    width: 90px;
    top: 80px;
    left: calc(50% - 45px);
  }

  // Module -- Screen 1 - Home of the LP
  .parallax-wrapper {
    &__content {
      padding: 190px 20px 0;

      &::before {
        top: 90px;
        height: 50px;
      }

      .title-page {
        font-size: 30px;
        @include fontSize(pxToEm(30), $font-weight-bold);
        line-height: 38px;
      }

      .txt {
        margin-top: 20px;

        p {
          font-size: 20px;
          @include fontSize(pxToEm(20), $font-weight-medium);
          line-height: 30px;
        }
      }
    }
  }

  // Screen 1 - Gallery Mobile
  .gallery-wrapper {
    padding: 40px 20px 40px;
    margin-top: 20px;

    &.show-slider {
      padding: 0 65px 90px;
      margin-top: 43px;

      &::before {
        display: none;
      }
    }

    .icon-glass {
      width: 24px;
    }

    &__list {
      padding: 0;
    }
  }

  // sticky
  .sticky-bar {
    height: 100px;

    .material-timer {
      flex-direction: column;
      width: 140px;

      img {
        width: 24px;
      }

      .content {
        margin-left: 0;

        .title {
          font-size: 16px;
          @include fontSize(pxToEm(16), $font-weight-light);
          line-height: 20px;
        }

        .date {
          font-size: 20px;
          @include fontSize(pxToEm(20), $font-weight-bold);
          line-height: 30px;
        }
      }
    }
  }

  // sticky mobile
  .sticky-bar-sp {
    height: unset;
    padding: 40px 20px;

    .txt {
      p {
        font-size: 20px;
        @include fontSize(pxToEm(20), $font-weight-base);
        line-height: 30px;
      }
    }

    .progress-wrapper {
      margin: 30px 0 0;

      .content {
        .price {
          .pri-txt {
            font-size: 22px;
            @include fontSize(pxToEm(22), $font-weight-base);
            line-height: 37px;
          }

          .pri {
            font-size: 30px;
            @include fontSize(pxToEm(30), $font-weight-bold);
            line-height: 37px;
          }
        }

        .progress {
          height: 25px;
          margin-top: 8px;

          .progressbar-value {
            height: 25px;

            .percent {
              font-size: 20px;
              @include fontSize(pxToEm(20), $font-weight-extrabold);
              line-height: 30px;
            }
          }
        }

        .txt-small {
          font-size: 20px;
          @include fontSize(pxToEm(20), $font-weight-base);
          line-height: 30px;
          padding: 0px 30px;
          margin-top: 12px;
        }
      }
    }
  }

  // Module -- Screen 3 - David Olère course
  .course-sp-wrapper {
    .content-small {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .title-page {
      margin-bottom: 30px;
    }

    .box-content {
      margin-bottom: 40px;

      .txt {
        .thumbnail {
          margin: 30px 0;
        }
      }

      .block-quote {
        padding: 25px 25px 40px;
        margin-top: 40px;

        .ct {
          padding-left: 20px;
          margin-top: 20px;

          h3.title {
            font-size: 20px;
            @include fontSize(pxToEm(20), $font-weight-bold);
            line-height: 30px;
            margin-bottom: 30px;
          }

          p {
            padding-bottom: 30px;
          }
        }
      }
    }
  }

  // Module -- Screen 4 / Screen 5 - preservation of archives
  .archives-sp-wrapper {
    background-color: $baseColor;
    padding-bottom: 40px;

    &__content {
      margin-bottom: 40px;

      .box-content {
        margin-top: 40px;

        .title-page {
          margin-bottom: 30px;
        }
      }
    }
  }

  // Module -- Screen 6 - key figures
  .keyfigures-sp-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;

    .title-page {
      margin-bottom: 30px;
    }

    &__counter {
      &--item {
        margin-bottom: 40px;

        .count-up {
          font-size: 40px;
          @include fontSize(pxToEm(40), $font-weight-base);
          line-height: 48px;
        }
      }
    }
  }

  // Module -- Screen 7 - needs exacerbated by the health crisis
  .health-crisis-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;

    .title-page {
      margin-bottom: 30px;
    }
  }

  // Module -- Screen 8 - Tax deduction insert
  .tax_deduction-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;

    .title-page {
      margin-bottom: 30px;
    }

    &__box {
      margin-bottom: 40px;

      .txt {
        p {
          font-size: 22px;
          @include fontSize(pxToEm(22), $font-weight-bold);

          &.small {
            font-size: 18px;
            @include fontSize(pxToEm(18), $font-weight-base);
            line-height: 30px;
          }
        }
      }
    }
  }

  .bb-chart-arcs-title {
    @include fontSize(52px, $font-weight-bold);
    line-height: 50px;
  }

  /*--------------------------------------------------------------
  Footer
  --------------------------------------------------------------*/
  .footer {
    .footer-wrapper {
      padding: 40px 20px 200px;

      &__col {
        margin-bottom: 40px;

        &--item {

          .title,
          p {
            font-size: 20px;
            @include fontSize(pxToEm(20), $font-weight-base);
            line-height: 30px;
          }

          &.footer-contact {
            padding: 0 0 30px;
          }

          &.footer-newsletter {
            padding-bottom: 30px;
            margin-top: 30px;

            .title {
              margin-bottom: 30px;
            }

            input[type="email"] {
              height: 40px;
              font-size: 16px;
              @include fontSize(pxToEm(16), $font-weight-base);
              line-height: 20px;
              padding: 12px;
            }

            input[type="submit"] {
              width: 40px;
              height: 40px;
              font-size: 16px;
              @include fontSize(pxToEm(16), $font-weight-base);
              line-height: 20px;
              padding: 6px;
              margin-left: 5px;
            }
          }

          &.footer-social {
            margin-top: 40px;
            padding: 0;

            .title {
              margin-bottom: 30px;
            }
          }

          &.footer-logo {
            .logo-image {
              width: 90px;
            }
          }
        }
      }

      &__copyright {
        padding: 0;

        a.copyright {
          font-size: 14px;
          @include fontSize(pxToEm(14), $font-weight-black);
          line-height: 18px;
        }
      }
    }
  }

  #social-icons {
    ul {
      margin: 0;
    }

    .fa-stack {
      width: 80px;
      height: 80px;
      line-height: 80px;

      .fa-stack-2x {
        font-size: 80px;
      }

      .fa-stack-1x {
        color: $blackColor;
        font-size: 38px;
      }
    }
  }

  // Legal Notices Popup
  .legal-notices-popup {
    p {
      font-size: 14px;
      @include fontSize(pxToEm(14), $font-weight-base);
      color: $blackColor;
      line-height: 20px;
      margin-bottom: 16px;
    }

    .fl {
      .title {
        font-size: 14px;
        @include fontSize(pxToEm(14), $font-weight-bold);
        color: $blackColor;
        line-height: 20px;
        margin-bottom: 16px;
      }
    }
  }
}

@include breakpoint(ios_min) {
  body {
    font-size: 12px;
  }

  p {
    line-height: 1.4 !important;
  }

  #social-icons {
    ul {
      margin: 0;
    }

    .fa-stack {
      width: 60px;
      height: 60px;
      line-height: 60px;

      .fa-stack-2x {
        font-size: 60px;
      }

      .fa-stack-1x {
        color: $blackColor;
        font-size: 24px;
      }
    }
  }
}