$whiteColor: var(--color-white);
$blackColor: var(--color-black);
$baseColor: var(--color-base);
$linkColor: var(--color-link);

$primaryColor: var(--color-primary);

$secondaryColor: var(--color-secondary);

$blockquoteColor: var(--color-blockquote);

$bgFooterColor: var(--bgColor-footer);
$stickyColor: var(--color-sticky);
$progressColor: var(--color-progress);

$borderInput: var(--color-border-input);

$font-family-base: var(--font-family-base) !default;
$font-family-title: var(--font-family-title) !default;

$font-size-base: 16;

$font-weight-thin: var(--font-weight-thin) !default;
$font-weight-extralight: var(--font-weight-extralight) !default;
$font-weight-light: var(--font-weight-light) !default;
$font-weight-normal: var(--font-weight-regular) !default;
$font-weight-medium: var(--font-weight-medium) !default;
$font-weight-semibold: var(--font-weight-semi-bold) !default;
$font-weight-bold: var(--font-weight-bold) !default;
$font-weight-extrabold: var(--font-weight-extrabold) !default;
$font-weight-black: var(--font-weight-black) !default;

$font-weight-base: $font-weight-normal !default;

$line-height-base: 1 !default;