/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.footer {
  position: relative;
  background-color: $blackColor;
  z-index: 1;

  .footer-wrapper {
    padding-top: 40px;
    padding-bottom: 195px;

    &__col {
      margin-bottom: 35px;

      &--item {
        flex: 0 0 auto;
        width: 30%;

        .title,
        p {
          font-size: 14px;
          @include fontSize(pxToEm(14), $font-weight-base);
          line-height: 19px;
          color: $whiteColor;
          margin-bottom: 0;

          &.link {
            font-family: var(--font-family-base);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
          }
        }

        a {
          color: $whiteColor;

          &:hover {
            opacity: 0.8;
          }
        }

        &.footer-contact,
        &.footer-social {
          flex: 0 0 auto;
          width: 20.35185185%;
        }

        &.footer-newsletter {
          .title {
            margin-bottom: 14px;
          }

          input[type="email"] {
            flex: 1 0 0%;
            height: 44px;
            background-color: $blackColor;
            font-size: 14px;
            @include fontSize(pxToEm(14), $font-weight-base);
            line-height: 19px;
            color: $whiteColor;
            border: 1px solid $borderInput;
            border-radius: 0;
            padding: 12px;
          }

          input[type="submit"] {
            flex: 0 0 auto;
            width: 44px;
            height: 44px;
            background-color: $whiteColor;
            font-size: 14px;
            @include fontSize(pxToEm(14), $font-weight-base);
            line-height: 19px;
            color: $blackColor;
            border: 1px solid $borderInput;
            border-radius: 0;
            padding: 12px;
            margin-left: 3px;
            @include transitionTime(0.4s);

            &:hover {
              opacity: 0.8;
            }
          }
        }

        &.footer-social {
          .title {
            text-align: center;
            margin-bottom: 18px;
          }
        }

        &.footer-logo {
          flex: 0 0 auto;
          width: 200px;
          width: 14.81481481%;
          margin-top: -40px;

          a:hover {
            opacity: 1;
          }
        }
      }
    }

    &__copyright {
      a.copyright {
        font-size: 14px;
        @include fontSize(pxToEm(14), $font-weight-bold);
        line-height: 19px;
        color: $whiteColor;
        margin-bottom: 0;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

// Social Icons
#social-icons {
  ul {
    margin: 0;
  }

  .fa-stack {
    width: 58px;
    height: 58px;
    line-height: 58px;

    .fa-stack-2x {
      font-size: 58px;
    }

    .fa-stack-1x {
      color: $blackColor;
      font-size: 28px;
    }
  }
}

// Sticky Bar
.sticky-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 140px;
  background-color: $whiteColor;
  z-index: 99;

  &.hide {
    display: none !important;
  }

  .material-timer {
    flex: 0 0 auto;
    width: 189px;
    background-color: $primaryColor;

    &:hover {
      text-decoration: none;
    }

    .content {
      margin-left: 7.7px;
      animation: tada;
      /* referring directly to the animation's @keyframe declaration */
      animation-duration: 2s;
      /* don't forget to set a duration! */

      .title {
        font-size: 18px;
        @include fontSize(pxToEm(18), $font-weight-light);
        line-height: 20px;
        color: $whiteColor;
        margin-bottom: 0;
      }

      .date {
        font-size: 18px;
        @include fontSize(pxToEm(18), $font-weight-bold);
        line-height: 20px;
        color: $whiteColor;
        margin-bottom: 0;
      }
    }
  }

  .txt {
    flex: 1 0 0%;

    p {
      font-size: 22px;
      @include fontSize(pxToEm(22), $font-weight-base);
      line-height: 30px;
      color: $stickyColor;
      padding: 0 58px 0 45px;
      margin-bottom: 0;
    }
  }

  .progress-wrapper {
    flex: 0 0 auto;
    width: 435px;
    margin-right: 60px;

    .content {
      width: 100%;

      .price {
        text-align: center;

        .pri-txt {
          font-size: 20px;
          @include fontSize(pxToEm(20), $font-weight-base);
          line-height: 37px;
          text-transform: uppercase;
          color: $stickyColor;
        }

        .pri {
          font-size: 31px;
          @include fontSize(pxToEm(31), $font-weight-bold);
          line-height: 37px;
          color: $primaryColor;
        }
      }

      .progress {
        background-color: $progressColor;
        width: 100%;
        height: 28px;
        @include radius(20px);
        margin-top: 6px;
        overflow: hidden;

        .progressbar-value {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 0;
          height: 28px;
          background-color: $primaryColor;
        }

        .percent {
          font-size: 20px;
          @include fontSize(pxToEm(20), $font-weight-extrabold);
          line-height: 30px;
          color: $whiteColor;
        }
      }

      .txt-small {
        font-size: 14px;
        @include fontSize(pxToEm(14), $font-weight-base);
        line-height: 19px;
        color: $stickyColor;
        text-align: center;
        margin-top: 9px;
      }
    }
  }

  .btn-wrapper {
    margin-right: 40px;
  }
}

// Legal Notices Popup
.legal-notices-popup {
  width: 70% !important;
  padding: 64px 76px 45px !important;

  p {
    font-size: 16px;
    @include fontSize(pxToEm(16), $font-weight-base);
    color: $blackColor;
    line-height: 24px;
    margin-bottom: 24px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .fl {
    flex: 0 0 auto;
    width: 64.15562913%;
    padding-right: 5.79470198%;
    @include border(1px, solid, $blackColor, right);
    padding-bottom: 51.5px;

    .title {
      font-size: 16px;
      @include fontSize(pxToEm(16), $font-weight-bold);
      color: $blackColor;
      line-height: 24px;
      margin-bottom: 25px;
    }
  }

  .fr {
    flex: 1 0 0%;
    padding-left: 5.79470198%;
    padding-bottom: 51.5px;
  }
}