/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.header {
  position: absolute;
  width: 200px;
  top: 67px;
  left: calc(50% - 100px);
  z-index: 99;

  &__logo {
    .logo-image {
      img {
        width: 100%;
        @include transitionTime(0.4s)
      }
    }
  }
}

.cookies-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90px;
  background-color: $whiteColor;
  z-index: 999;
  transform: translateY(-1000px);
  @include transitionTime(1.5s);

  .btn-close {
    position: absolute;
    top: calc(50% - 25px);
    right: 28.8px;
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;
    background: transparent;

    &:hover {
      opacity: 0.8;
    }
  }

  .txt {
    margin-right: 125px;

    p {
      font-size: 22px;
      @include fontSize(pxToEm(22), $font-weight-base);
      line-height: 30px;
      letter-spacing: -0.25px;
    }
  }

  .btn-action {
    .btn-secondary {
      margin-right: 25px;

      &.btn-ok {
        padding: 16px;
      }

      &:last-of-type {
        margin: 0;
      }
    }
  }
}