// Module -- Screen 8 - Tax deduction insert
.tax_deduction-wrapper {
  position: relative;
  background-color: $whiteColor;
  padding-top: 90px;
  padding-bottom: 64px;
  z-index: 1;

  .title-page {
    color: $baseColor;
    text-align: center;
    margin-bottom: 60px;
  }

  &__box {
    flex: 0 0 auto;
    width: 50%;
    padding-left: 10.14254285%; // 92.5px/456px
    margin-bottom: 48.5px;

    &:nth-child(2n + 1) {
      border-left: 1px solid $baseColor;
    }

    &:nth-child(2n) {
      padding-left: 0;
      padding-right: 10.14254285%; // 92.5px/456px
      border-right: 1px solid $baseColor;
    }

    .pieBox {
      width: 164px;
      height: 164px;
      margin: 2.5px 0 4.5px;

      .chart {
        width: 164px;
        height: 164px;
      }
    }

    .txt {
      p {
        font-size: 18px;
        @include fontSize(pxToEm(18), $font-weight-base);
        line-height: 22px;
        text-align: center;
        color: $baseColor;
        margin: 0;

        &.small {
          font-size: 14px;
          @include fontSize(pxToEm(14), $font-weight-base);
          line-height: 22px;
          color: $baseColor;
          font-style: italic;
        }
      }
    }
  }
}