// Module -- Screen 7 - needs exacerbated by the health crisis
.health-crisis-wrapper {
  position: relative;
  background-color: $baseColor;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 93px;
  padding-bottom: 112px;
  z-index: 1;

  .title-page {
    text-align: center;
  }

  .txt {
    margin-top: 50px;

    p {
      text-align: center;
      color: $whiteColor;
    }
  }

  .btn-primary {
    margin-top: 64px;
  }
}