// Module -- Screen 4 / Screen 5 - preservation of archives
.archives-wrapper {
  position: relative;
  background-color: $baseColor;
  padding-top: 100px;
  padding-bottom: 138px;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: $whiteColor;
    z-index: 1;
  }

  &__content {
    position: relative;
    margin-bottom: 200px;
    z-index: 2;

    .box-content {
      .txt {
        p {
          color: $whiteColor;
        }
      }
    }

    &.img-fl {
      .thumbnail {
        flex: 0 0 auto;
        width: 977px;
        width: 61.83544303%;
        margin-top: 15px;
      }

      .box-content {
        flex: 1 0 0%;
        padding-left: 5.44303797%; //86px

        .txt {
          margin-bottom: 25px;
        }
      }
    }

    &.img-fr {
      margin-bottom: 0;

      .thumbnail {
        flex: 0 0 auto;
        width: 930px;
        width: 58.086075949%;
      }

      .box-content {
        flex: 1 0 0%;
        padding-right: 7.40506329%; //117px

        .txt {
          margin-bottom: 24px;
        }
      }
    }
  }
}

// Module -- Screen 6 - key figures
.keyfigures-wrapper {
  position: relative;
  background-color: $baseColor;
  padding-top: 25px;
  padding-bottom: 136px;
  z-index: 1;

  .title-page {
    text-align: center;
    margin-bottom: 78px;
  }

  &__counter {
    &--item {
      .count-up {
        font-family: $font-family-title;
        font-size: 45px;
        @include fontSize(pxToEm(45), $font-weight-base);
        line-height: 55px;
        text-align: center;
        color: $whiteColor;
        margin-bottom: 6px;
      }

      .txt {
        font-weight: $font-weight-medium;
        color: $whiteColor;
        text-align: center;
        margin-bottom: 0;
      }
    }
  }
}