// Module -- Screen 3 - David Olère course
.course-wrapper {
  position: relative;
  background-color: $blackColor;
  padding-top: 180px;
  padding-bottom: 125px;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: $whiteColor;
    z-index: 1;
  }

  .main-heading-wrapper {
    position: relative;
    background-color: $blackColor;
    text-align: center;
    padding: 7px 0 16.5px;
    margin-bottom: 51.5px;
    z-index: 2;

    .title-page {
      margin-bottom: 0;
    }
  }

  &__content {
    position: relative;
    margin-bottom: 143px;
    z-index: 2;

    .box-content {
      .txt {
        p {
          color: $whiteColor;
        }
      }
    }

    &.img-fl {
      .thumbnail {
        flex: 0 0 auto;
        width: 977px;
        width: 61.83544303%;
      }

      .box-content {
        flex: 1 0 0%;
        padding-left: 5.44303797%; //86px

        .txt {
          margin-bottom: 30px;
        }

        .block-quote {
          position: relative;
          background-color: $blockquoteColor;
          padding: 25.5px 30px 25.5px 44px;

          &::before {
            content: "";
            position: absolute;
            top: 25.5px;
            left: 22.5px;
            width: 2px;
            height: calc(100% - 51px);
            background-color: $whiteColor;
          }

          h3.title {
            font-size: 20px;
            @include fontSize(pxToEm(20), $font-weight-bold);
            line-height: 24px;
            color: $whiteColor;
            margin-bottom: 15px;
          }

          p {
            font-size: 18px;
            @include fontSize(pxToEm(18), $font-weight-light);
            line-height: 24px;
            color: $whiteColor;
            margin-bottom: 27.5px;
          }
        }
      }
    }

    &.img-fr {
      margin-bottom: 0;

      .thumbnail {
        flex: 0 0 auto;
        width: 1089px;
        width: 68.92405063%;
      }

      .box-content {
        flex: 1 0 0%;
        padding-right: 5.63291139%; //89px

        .txt {
          margin-bottom: 78px;
        }
      }
    }
  }
}