// Module -- Screen 1 - Home of the LP
.parallax-wrapper {
  position: relative;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg_gradient_home.png');
    background-position: 50% 100%;
    background-size: cover;
  }

  .content-full {
    height: 100%;
    position: relative;
    overflow-y: visible;
    overflow-x: hidden;
    scrollbar-width: none;

    /* scrollbar width */
    &::-webkit-scrollbar {
      width: 0px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      width: 0px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      width: 0px;
    }
  }

  &__content {
    position: fixed;
    width: 590px;
    min-height: 100%;
    min-height: calc(100vh - 267px);
    top: 267px;
    left: calc(50% - 295px);
    padding-top: 150px;
    z-index: 1;
    @include transitionTime(0.4s);

    &.end_scroll {
      position: absolute;
      top: unset;
      bottom: -552px;
    }

    &.parallax_scroll {
      position: fixed;
      bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 26px;
      left: 50%;
      width: 1px;
      height: 110px;
      background-color: $whiteColor;
    }

    .title-page {
      position: relative;
      text-align: center;
      margin: 0;
      z-index: 2;
    }

    .txt {
      position: relative;
      margin-top: 50px;
      z-index: 2;

      p {
        font-size: 24px;
        @include fontSize(pxToEm(24), $font-weight-medium);
        line-height: 36px;
        color: $whiteColor;
        text-align: center;
      }
    }

    .line2 {
      position: relative;
      flex: 1 0 0%;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 1px;
        height: calc(100% - 40px);
        background-color: $whiteColor;
      }
    }
  }

  &__gallery {
    position: relative;
    display: flex;
    z-index: 2;

    &--img {
      position: relative;
      z-index: 2;
    }

    .gallery-left {
      &--item-1 {
        margin-top: 52px;
        margin-left: 58px;
      }

      &--item-2 {
        margin-top: 98px;
        margin-left: 268px;
      }

      &--item-3 {
        margin-top: 105px;
        margin-left: 0;
      }

      &--item-4 {
        margin-top: 105px;
        margin-left: 268px;
      }
    }

    .gallery-right {
      &--item-1 {
        margin-top: 67px;
        margin-right: 113px;
      }

      &--item-2 {
        margin-top: 164px;
        margin-right: 0;
      }

      &--item-3 {
        margin-top: 164px;
        margin-right: 62px;
      }
    }
  }
}

// Gallery Popup
.fancybox-gallery {
  .title-page {
    color: $baseColor;
    text-align: center;
    margin-bottom: 0;
  }
}

// Gallery Slider
.gallery-swiper {
  width: calc(100% - 280px);
  height: 30vw;
  transition: opacity .6s ease;

  &.swiper-coverflow {
    padding: 54px 0 84px;
  }

  &.loading {
    opacity: 0;
    visibility: hidden;
  }

  &:hover {

    .swiper-button-prev,
    .swiper-button-next {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }

  .swiper-action {
    position: absolute;
    left: calc(50% - 72px);
    bottom: 0;
    width: 144px;

    .smd-button-prev,
    .smd-button-next {
      position: relative;
      width: 32px;
      height: 16px;
      @include transitionTime(0.4s);

      img {
        width: 100%;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    .swiper-pagination {
      position: relative;
      bottom: unset;
      left: unset;
      width: 50px;
      height: 50px;
      background-color: $baseColor;
      font-family: $font-family-base;
      font-size: 20px;
      @include fontSize(pxToEm(20), $font-weight-base);
      line-height: 28px;
      color: $whiteColor;
      @include radius(50%)
    }
  }

  .button-full {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    z-index: 1;

    &--next {
      left: unset;
      right: 0;
    }
  }
}

.swiper-slide {
  padding-bottom: 0;
  opacity: 0.5;

  .bg-image {
    width: 100%;
    height: 100%;
    background-size: contain;
    @include transitionTime(0.3s);
  }

  .content {
    display: none;
    font-family: var(--font-family-base);
    font-size: 16px;
    @include fontSize(pxToEm(16), $font-weight-base);
    line-height: 22px;
    text-align: center;
    color: $blackColor;
    margin-top: 10px;
    margin-bottom: 0;
    @include transitionTime(0.3s);
    opacity: 0;
  }

  &-active {
    padding-bottom: 72px;
    opacity: 1;

    .content {
      display: block;
      opacity: 1;
    }
  }

  .entity-img {
    display: none;
  }
}