            </main><!-- End Main -->
        </div><!-- End Primary -->

        <footer class="footer">
            <div class="footer-wrapper container content-footer">
                <div class="footer-wrapper__col d-flex justify-content-between flex-wrap">

                    <div class="footer-wrapper__col--item footer-logo">
                        <a class="logo-image" href="http://www.memorialdelashoah.org/" title="" rel="home">
                            <img src="./img/Logo_MS.svg" alt="">
                        </a>
                    </div>

                    <!-- Footer Contact -->
                    <div class="footer-wrapper__col--item footer-contact">
                        <h3 class="title">Mémorial de la Shoah</h3>
                        <p>17, rue Geoffroy l’Asnier 75004 Paris</p>
                        <p class="link">Tél : <a href="tel:330142774472">+ 33 (0)1 42 77 44 72</a></p>
                        <p class="link">Fax : + 33 (0)1 53 01 17 44</p>
                        <a href="mailto:contact@memorialdelashoah.org">contact@memorialdelashoah.org</a>
                    </div><!-- END Footer Contact -->

                    <!-- Footer Newsletter -->
                    <!-- <div class="footer-wrapper__col--item footer-newsletter">
                        <h3 class="title">Pour être tenu au courant de notre actualité, inscrivez votre e-mail
                                        ci-dessous afin de recevoir notre newsletter :</h3>
                        <div class="newsletter-form">
                            <form id="newsletterForm" action="/subscribe" method="get" class="d-flex flex-wrap justify-content-between">
                                            @csrf
                                            <input class="newsletter-form--email" type="email" required name="email" id="newsletterEmail"
                                                value="" />
                                            <input class="newsletter-form--submit" type="submit" value="OK" />
                                            <div id="messageSubcribed" class="mt-1"></div>
                                        </form>
                        </div>
                    </div> -->
                    <!-- END Footer Newsletter -->

                    <!-- Footer Contact -->
                    <div class="footer-wrapper__col--item footer-contact">
                        <h3 class="title">Votre contact :</h3>
                        <p>VALÉRIE EZRA<br />
                            RESPONSABLE RELATION DONATEURS</p>
                        <a class="mail"
                            href="mailto:valerie.ezra@memorialdelashoah.org">valerie.ezra@memorialdelashoah.org</a><br />
                        <a href="tel:+10153011715">01 53 01 17 15</a>
                    </div><!-- END Footer Contact -->

                    <!-- Footer Social -->
                    <div class="footer-wrapper__col--item footer-social">
                        <h3 class="title">Nous rejoindre :</h3>
                        <nav id="social-icons">
                            <ul class="d-flex justify-content-between">
                                <li>
                                    <a class="facebook-color" target="_blank" href="https://www.facebook.com/MemorialShoah/"
                                        target="_blank" title="Facebook">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter-color" target="_blank" href="https://twitter.com/Shoah_Memorial"
                                        target="_blank" title="Twitter">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram-color" target="_blank"
                                        href="https://www.instagram.com/memorialshoahofficiel" target="_blank"
                                        title="Instagram">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="youtube-color" target="_blank"
                                        href="https://www.youtube.com/user/memorialdelashoah" target="_blank" title="Youtube">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div><!-- END Footer Social -->
                </div>

                <div class="footer-wrapper__copyright d-flex justify-content-center">
                    <a href="#fancybox_legalnotices" class="copyright fancybox-popup">© Archives Mémorial de la
                        Shoah - Collection David Olère - MENTIONS LÉGALES - Made by Hopening</a>
                </div>
            </div>
        </footer>
        </div><!-- End Wrapper -->

        <!-- Sicky Bar -->
        <div id="js_sticky_bar" class="sticky-bar d-flex justify-content-between">
            <a href="https://don.memorialdelashoah.org/contre-loubli-ir"
                class="material-timer d-flex justify-content-center align-items-center" target="_blank">
                <img src="./img/icons/ic_material_timer.png" alt="">
                <div class="content">
                    <p class="title">Plus que</p>
                    <p class="date"><span id="js_date" data-count=""></span> <span id="js_month">JOURS</span></p>
                </div>
            </a>

            <div class="txt d-flex justify-content-center align-items-center">
                <p>Demain, les archives seront les derniers grands témoins de l’histoire de la Shoah. Ensemble,
                    mobilisons-nous pour les collecter et les préserver.</p>
            </div>

            <div class="progress-wrapper d-flex justify-content-center align-items-center">
                <div class="content">
                    <div class="price">
                        <span class="txt">Objectif : </span><span class="pri">190 000 €</span>
                    </div>

                    <div id="js_progress" class="progress position-relative">
                        <div class="progressbar-value">
                        </div>
                        <div class="position-absolute" style="left: 47%;"><span class="percent js_st_counter"
                                data-count="0">0</span>
                            <span class="percent"> %</span>
                        </div>
                    </div>

                    <p class="txt-small">Votre don est déductible des impôts</p>
                </div>
            </div>

            <div class="btn-wrapper d-flex justify-content-center align-items-center">
                <a href="https://don.memorialdelashoah.org/contre-loubli-ir" class="btn-primary wobble_horizontal"
                    target="_blank">Je fais un don</a>
            </div>
        </div>

        <!-- Popup Gallery Content -->
        <div id="fancybox_gallery" class="fancybox-gallery" style="display: none;">
            <h3 class="title-page">Aidez-nous à préserver des archives exceptionnelles</h3>
            <section class="swiper gallery-swiper loading">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="bg-image" style="background-image:url(./img/Visuels_Galerie/MIX_936.jpg)"></div>
                        <img src="./img/Visuels_Galerie/MIX_936.jpg" class="entity-img" />
                        <p class="content">Dessin de David Olère :<br />
                            Birkenau, Crématoire No. 3</p>
                    </div>

                    <div class="swiper-slide">
                        <div class="bg-image" style="background-image:url(./img/Visuels_Galerie/MIX_950.jpg)"></div>
                        <img src="./img/Visuels_Galerie/MIX_950.jpg" class="entity-img" />
                        <p class="content">Dessin de David Olère :<br />
                            Une mère et son enfant face à une mitraillette</p>
                    </div>

                    <div class="swiper-slide">
                        <div class="bg-image" style="background-image:url(./img/Visuels_Galerie/MIX_938.jpg)"></div>
                        <img src="./img/Visuels_Galerie/MIX_938.jpg" class="entity-img" />
                        <p class="content">Dessin de David Olère :<br />
                            En marche</p>
                    </div>

                    <div class="swiper-slide">
                        <div class="bg-image" style="background-image:url(./img/Visuels_Galerie/MIX_955.jpg)"></div>
                        <img src="./img/Visuels_Galerie/MIX_955.jpg" class="entity-img" />
                        <p class="content">Dessin de David Olère :<br />
                            Prendre le train de l'enfer</p>
                    </div>

                    <div class="swiper-slide">
                        <div class="bg-image" style="background-image:url(./img/Visuels_Galerie/MIX_924.jpg)"></div>
                        <img src="./img/Visuels_Galerie/MIX_924.jpg" class="entity-img" />
                        <p class="content">Dessin de David Olère :<br />
                            La dernière tétée</p>
                    </div>

                    <div class="swiper-slide">
                        <div class="bg-image" style="background-image:url(./img/Visuels_Galerie/MIX_919.jpg)"></div>
                        <img src="./img/Visuels_Galerie/MIX_919.jpg" class="entity-img" />
                        <p class="content">Dessin de David Olère :<br />
                            il tue un jeune à bicyclette dans la rue</p>
                    </div>

                    <div class="swiper-slide">
                        <div class="bg-image" style="background-image:url(./img/Visuels_Galerie/MIX_939.jpg)"></div>
                        <img src="./img/Visuels_Galerie/MIX_939.jpg" class="entity-img" />
                        <p class="content">Dessin de David Olère :<br />
                            Rassembler de la nourriture et médicaments dans un sac aux pieds d'un soldat SS, camp de Birkenau
                        </p>
                    </div>
                </div>

                <div class="smd-button-prev button-full button-full--prev"></div>
                <div class="smd-button-next button-full button-full--next"></div>

                <div class="swiper-action d-flex justify-content-between align-items-center">
                    <div class="smd-button-prev">
                        <img src="./img/icons/ic_arrow_left.png" alt="">
                    </div>

                    <div class="swiper-pagination d-flex justify-content-center align-items-center"></div>

                    <div class="smd-button-next">
                        <img src="./img/icons/ic_arrow_right.png" alt="">
                    </div>
                </div>
            </section>
        </div>

        <!-- Popup Legal Notices -->
        <div id="fancybox_legalnotices" class="legal-notices-popup" style="display: none;">
            <div class="d-flex flex-wrap">
                <div class="fl">
                    <h3 class="title">Mentions légales</h3>
                    <p>Les données personnelles recueillies sur ce site sont destinées au Mémorial de la Shoah et à ses
                        prestataires sous-traitants, à des fins de traitement des dons, d’émission de reçu fiscal,
                        d’appel à
                        la générosité, d’envoi d’informations sur le Mémorial de la Shoah. Le Mémorial de la Shoah
                        s’engage
                        à ne pas transférer les données en dehors de l’Union Européenne.</p>

                    <p>Conformément au Règlement (UE) 2016/679 relatif à la protection des données à caractère
                        personnel,
                        vous disposez des droits suivants sur vos données : droit d’accès, droit de rectification, droit
                        à
                        l’effacement (droit à l’oubli), droit d’opposition, droit à la limitation du traitement, droit à
                        la
                        portabilité.</p>

                    <p>Vous pouvez également définir des directives relatives à la conservation, à l’effacement et à la
                        communication de vos données à caractère personnel après votre décès. Vous pouvez exercer vos
                        droits
                        d’accès et de rectification à tout moment ainsi que vos autres droits relatifs à la RGPD à tout
                        moment en cliquant ici ou vous adresser à :<br />
                        Mémorial de la Shoah - 17, rue Geoffroy l’Asnier - 75004 PARIS</p>

                    <p>Le Mémorial de la Shoah s’est toujours montré vigilant à respecter vos droits et souhaits
                        relatifs à
                        vos données personnelles</p>
                </div>
                <div class="fr">
                    <p><strong>Règles d’affectation des dons :</strong> sauf demande particulière de votre part, le Mémorial de
                        la Shoah affectera votre don à l’ensemble des missions qui sont les siennes. En faisant un don
                        d’aujourd’hui au Mémorial, vous êtes assuré que ce don servira à la mission du Mémorial.</p>

                    <p><strong>Crédits :</strong> Hopening</p>

                    <p><strong>Crédits photos :</strong> Mémorial de la Shoah - Archives et collection David Olère</p>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="plugin/vendor.min.js"></script>
        <script type="text/javascript" src="lib/moment/moment-with-locales.min.js"></script>
        <script type="text/javascript" src="lib/swiper/swiper-bundle.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>

        <script>
            // Moment Js
            const currentTime = new Date();

            const endday = moment("20211120", "YYYY-MM-DD").format();
            const current = moment(currentTime, 'YYYY-MM-DD').format();

            const getDaysDiff = (start_date, end_date, date_format = 'YYYY-MM-DD') => {
                const getDateAsArray = (date) => {
                    return moment(date.split(/\D+/), date_format);
                }
                return getDateAsArray(end_date).diff(getDateAsArray(start_date), 'days') + 1;
            }

            const totalday = getDaysDiff(current, endday);

            $('#js_date').text(totalday);
        </script>

    </body>

</html>