<!-- Cookies -->
<div class="cookies-wrapper d-flex flex-wrap justify-content-center align-items-center">
    <button type="button" class="btn-close js_btn_close" title="Close">
        <img src="./img/icons/ic_ios-close-2.png" alt="">
    </button>

    <div class="txt">
        <p>En continuant à naviguer sur notre site, vous acceptez l’utilisation des cookies.</p>
    </div>

    <div class="btn-action d-flex flex-wrap justify-content-center">
        <a href="javascript:void(0)" class="js_btn_close btn-secondary btn-ok">OK</a>
        <a href="http://www.memorialdelashoah.org/politique-de-gestion-des-donnees.html" class="btn-secondary"
            target="_blank">En savoir plus</a>
    </div>
</div>

<!-- Header -->
<header class="header">
    <div class="header__logo d-flex justify-content-center align-items-center">
        <a class="logo-image d-flex justify-content-center align-items-center" href="http://www.memorialdelashoah.org/"
            title="" rel="home">
            <img id="js_logo" src="./img/Logo_MS.svg" alt="">
        </a>
    </div>
</header><!-- End Header -->

<div id="primary">
    <main id="main" class="smd-content-area" role="main">