<!-- Screen 8 - Tax deduction insert -->
<section id="tax_deduction_insert" class="tax_deduction-wrapper">
    <div class="container content-compare">

        <div class="d-flex justify-content-center flex-wrap">
            <h2 class="title-page">Avec votre don, vous bénéficiez d’une déduction fiscale</h2>

            <div class="tax_deduction-wrapper__box d-flex flex-column align-items-center">
                <div class="pieBox">
                    <div class="chart" id="pieChart01"></div>
                </div>

                <div class="txt">
                    <p>66 % de votre don est <strong>déductible de votre Impôt sur le Revenu</strong></p>
                    <p class="small">(dans la limite de 20 % de votre revenu imposable)</p>
                </div>
            </div>

            <div class="tax_deduction-wrapper__box d-flex flex-column align-items-center">
                <div class="pieBox">
                    <div class="chart" id="pieChart02"></div>
                </div>

                <div class="txt">
                    <p>75 % de votre don est <strong>déductible de votre Impôt sur la Fortune Immobilière</strong></p>
                    <p class="small">(dans la limite de 50 000 euros par an, lors de votre prochaine déclaration IFI)
                    </p>
                </div>
            </div>

            <div class="d-flex justify-content-center btn-wrapper w-100 display_dk">
                <a href="https://don.memorialdelashoah.org/contre-loubli-ir" class="btn-primary wobble_horizontal"
                    target="_blank">Je fais un don</a>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {

        var pieChart01 = bb.generate({
            bindto: "#pieChart01",
            data: {
                columns: [
                    ["data1", 237.6],
                    ["data2", 122.4] // (66/100) * 360
                ],
                type: "donut",
                colors: {
                    data1: "#B30C3D",
                    data2: "#003986"
                },
            },
            interaction: {
                enabled: false,
            },
            donut: {
                label: {
                    show: false
                },
                title: "66 %",
                width: 10
            },

            legend: {
                show: false
            }
        });
        var pieChart02 = bb.generate({
            bindto: "#pieChart02",
            data: {
                columns: [
                    ["data1", 90],
                    ["data2", 270] // (75/100) * 360
                ],
                type: "donut",
                colors: {
                    data1: "#003986",
                    data2: "#B30C3D"
                },
            },
            interaction: {
                enabled: false,
            },
            donut: {
                label: {
                    show: false
                },
                title: "75 %",
                width: 10
            },

            legend: {
                show: false
            }
        });
    });
</script>