<!-- Screen 1 - Home of the LP  -->
<section id="homeLT" class="parallax-wrapper display_dk" style="background-image: url('./img/bg_main.png');">
    <div class="content-full d-flex justify-content-between">
        <div class="parallax-wrapper__content js_parallax_text d-flex flex-column justify-content-start">
            <div class="main-heading-wrapper">
                <h1 class="title-page wow fadeInDown">Aidez-nous à préserver des archives exceptionnelles</h1>
            </div>
            <div class="txt wow fadeInUp" data-wow-delay="0.4s">
                <p>Acquérir les œuvres de David Olère c’est recueillir de nouveaux documents contre les tentatives de
                    déformation de l’histoire</p>
            </div>

            <div class="line2"></div>
        </div>
        <div class="parallax-wrapper__gallery d-flex justify-content-between w-100">
            <div class="gallery-left d-flex flex-column align-items-start">
                <a href="#fancybox_gallery" class="parallax-wrapper__gallery--img gallery-left--item-1">
                    <img src="./img/Visuels_Ecran/MIX_936.jpg" alt="">
                </a>
                <a href="#fancybox_gallery" class="parallax-wrapper__gallery--img gallery-left--item-2">
                    <img src="./img/Visuels_Ecran/MIX_950.jpg" alt="">
                </a>
                <a href="#fancybox_gallery" class="parallax-wrapper__gallery--img gallery-left--item-3">
                    <img src="./img/Visuels_Ecran/MIX_938.jpg" alt="">
                </a>
                <a href="#fancybox_gallery" class="parallax-wrapper__gallery--img gallery-left--item-4">
                    <img src="./img/Visuels_Ecran/MIX_955.jpg" alt="">
                </a>
            </div>

            <div class="gallery-right d-flex flex-column align-items-end">
                <a href="#fancybox_gallery" class="parallax-wrapper__gallery--img gallery-right--item-1">
                    <img src="./img/Visuels_Ecran/MIX_924.jpg" alt="">
                </a>
                <a href="#fancybox_gallery" class="parallax-wrapper__gallery--img gallery-right--item-2">
                    <img src="./img/Visuels_Ecran/MIX_919.jpg" alt="">
                </a>
                <a href="#fancybox_gallery" class="parallax-wrapper__gallery--img gallery-right--item-3">
                    <img src="./img/Visuels_Ecran/MIX_939.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>