<!-- Stiky Mobile  -->
<div id="js_sticky_bar" class="sticky-bar sticky-bar-sp display_sp">
    <div class="txt d-flex justify-content-center align-items-center">
        <p>Demain, les archives seront les derniers grands témoins de l’histoire de la Shoah. Ensemble,
            mobilisons-nous pour les collecter et les préserver.</p>
    </div>

    <div class="progress-wrapper d-flex justify-content-center align-items-center">
        <div class="content">
            <div class="price">
                <span class="pri-txt">Objectif : </span><span class="pri">190 000 €</span>
            </div>

            <div id="js_progress" class="progress position-relative">
                <div class="progressbar-value">
                </div>
                <div class="position-absolute" style="left: 47%;"><span class="percent js_st_counter"
                        data-count="0">0</span>
                    <span class="percent"> %</span>
                </div>
            </div>

            <p class="txt-small">Votre don est déductible des impôts</p>
        </div>
    </div>
</div>