<!-- Archives Wrapper  -->
<section id="archives" class="archives-wrapper display_dk">
    <div class="container content-main">

        <!-- Screen 4 - preservation of archives -->
        <div class="archives-wrapper__content img-fl d-flex flex-wrap">
            <div class="thumbnail bg-image imgResize-977-711" style="background-image: url(./img/VISITECOLLEGE071.png);">
            </div>

            <div class="box-content">
                <div class="main-heading-wrapper">
                    <h2 class="title-page wow fadeInDown">Des documents à préserver de toute urgence</h2>
                </div>

                <div class="txt">
                    <p>Les œuvres de David Olère constituent un témoignage unique « de l’intérieur », un document
                        historique incomparable, qui raconte la réalité crue du quotidien et de l’assassinat des Juifs
                        au centre de mise à mort de Birkenau. Ils ont vocation à compléter les archives collectées par
                        le Mémorial ainsi que celles remises par les familles. Ce sont autant de traces précieuses à
                        conserver, autant d’évocations de vies brisées.<br />
                        Demain, ce seront les seuls témoignages à opposer aux négationnistes. C’est pourquoi nous
                        devons les recueillir et les protéger dès à présent afin que, dans l’avenir, le Mémorial puisse
                        les transmettre aux jeunes générations via ses projets culturels et pédagogiques.</p>
                </div>
                <div class="d-flex btn-wrapper w-100">
                    <a href="https://don.memorialdelashoah.org/contre-loubli-ir" class="btn-primary wobble_horizontal"
                        target="_blank">Je fais un don</a>
                </div>
            </div>
        </div>

        <!-- Screen 4 - preservation of archives -->
        <div class="archives-wrapper__content img-fr d-flex flex-wrap">
            <div class="box-content">
                <div class="main-heading-wrapper">
                    <h2 class="title-page wow fadeInDown">Aidez-nous à protéger la Mémoire des victimes assassinées</h2>
                </div>

                <div class="txt">
                    <p>Le Mémorial est le plus grand centre d’archives en Europe dédié à l’histoire de la Shoah. Il
                        détient déjà plus de 50 millions d’archives et peut compter sur son équipe d’archivistes et de
                        documentalistes experts dans chaque préservation. Chaque document, chaque dessin, inestimables
                        qui nourrissent notre mémoire collective, sont essentiels pour nourrir le travail des
                        historiens
                        et préserver l’histoire de la Shoah de l’oubli et des tentatives de relativisation et de
                        banalisation.</p>
                </div>
                <div class="d-flex btn-wrapper w-100">
                    <a href="https://don.memorialdelashoah.org/contre-loubli-ir" class="btn-primary wobble_horizontal"
                        target="_blank">Je fais un don</a>
                </div>
            </div>

            <div class="thumbnail bg-image imgResize-133-96"
                style="background-image: url(./img/collecte_memorialdelashoah.png);"></div>
        </div>
    </div>
</section>

<!-- Screen 6 - key figures  -->
<section id="key_figures" class="keyfigures-wrapper display_dk">
    <div class="container content-counter">
        <h2 class="title-page">Le Mémorial de la Shoah aujourd'hui, ce sont...</h2>

        <div class="keyfigures-wrapper__counter d-flex flex-wrap justify-content-between">
            <div class="keyfigures-wrapper__counter--item">
                <p class="count-up">
                    <span class="js_counter" data-count="50">0</span><span> millions</span>
                </p>
                <p class="txt">de documents et<br />d’articles</p>
            </div>

            <div class="keyfigures-wrapper__counter--item">
                <p class="count-up">
                    <span class="js_counter" data-count="400000">0</span>
                </p>
                <p class="txt">photos – dont 16 000 photos<br />des déportés juifs de France</p>
            </div>

            <div class="keyfigures-wrapper__counter--item">
                <p class="count-up">
                    <span class="js_counter" data-count="80000">0</span>
                </p>
                <p class="txt">ouvrages et<br />périodiques</p>
            </div>
        </div>
    </div>
</section>