<!-- Screen 3 - David Olère course -->
<section id="course" class="course-wrapper display_dk">
    <div class="container content-main">
        <div class="main-heading-wrapper">
            <h1 class="title-page wow fadeInDown">Des dessins, peintures et sculpture</h1>
            <h1 class="title-page wow fadeInDown" data-wow-delay="0.3s">qui racontent l’enfer d’Auschwitz</h1>
        </div>

        <div class="course-wrapper__content img-fl d-flex flex-wrap">
            <div class="thumbnail bg-image imgResize-977-700" style="background-image: url(./img/MXII_7413.png);"></div>
            <div class="box-content">
                <div class="txt">
                    <p>David Olère, un artiste juif polonais est né à Varsovie en 1902. Il rejoint la France pour y
                        apprendre la peinture et la sculpture. Déporté au camp d’Auschwitz-Birkenau de 1943 à 1945, il
                        est désigné pour rejoindre une équipe de Sonderkommandos. C’est à ses talents d’artiste,
                        appréciés par ses bourreaux, que David Olère doit d’avoir échappé à une mort programmée.<br />
                        Hanté par les scènes atroces auxquels il a assisté, il consacre sa vie après-guerre, en France,
                        à les reproduire de mémoire. Au nom de tous ceux qui ne sont pas revenus.</p>
                </div>

                <div class="block-quote">
                    <h3 class="title">Les Sonderkommandos,<br />
                        des déportés au cœur des crématoires</h3>
                    <p>Chargés de transporter les cadavres à la sortie de la chambre à gaz puis de les brûler, ces
                        déportés étaient les témoins directs de l’assassinat de masse des Juifs. Les nazis réservaient
                        tous les trois mois aux Sonderkommandos le même sort funeste pour ne pas laisser de trace de la
                        « solution finale ».</p>
                </div>
            </div>
        </div>

        <div class="course-wrapper__content img-fr d-flex flex-wrap">
            <div class="box-content">
                <div class="txt">
                    <p>Ces 45 dessins, 5 peintures et 1 sculpture constituent un témoignage rare et fidèle, le seul
                        réalisé par un témoin oculaire du processus d’extermination de masse.</p>

                    <p>Le Mémorial se doit de les protéger, comme autant de preuves à opposer aux tentatives de
                        déformation de l’histoire de la Shoah. C’est pourquoi nous comptons sur votre soutien pour
                        acquérir ces œuvres poignantes, reflets de l’enfer quotidien des déportés à Auschwitz.</p>
                </div>
                <div class="d-flex btn-wrapper w-100 js-scroll-trigger">
                    <a href="#homeLT" class="btn-primary wobble_horizontal ">Je fais un don</a>
                </div>
            </div>
            <div class="thumbnail bg-image imgResize-363-200" style="background-image: url(./img/MXII_7414.png);"></div>
        </div>
    </div>
</section>