<!-- Screen 1 - Home of the LP Mobile  -->
<section id="homeLT_sp" class="parallax-wrapper display_sp" style="background-image: url('/img/bg_main.png');">
    <div class="parallax-wrapper__content d-flex flex-column justify-content-start">
        <div class="main-heading-wrapper">
            <h1 class="title-page">Aidez-nous à préserver des archives exceptionnelles</h1>
        </div>
        <div class="txt">
            <p>Acquérir les œuvres de David Olère c’est recueillir de nouveaux documents contre les tentatives de
                déformation de l’histoire</p>
        </div>
    </div>

    <!-- Screen 1 - Gallery Mobile  -->
    <div id="gallery_sp" class="gallery-wrapper display_sp">
        <div class="gallery-wrapper__list d-flex justify-content-between">
            <a href="javascript:void(0)" class="gallery-item-01 js_glr_img">
                <div class="bg-image imgResize-gallery01 w-100"
                    style="background-image: url(./img/Visuels_Ecran/MIX_936.jpg);"></div>
            </a>
            <a href="javascript:void(0)" class="gallery-item-02 js_glr_img">
                <div class="bg-image imgResize-gallery02 w-100"
                    style="background-image: url(./img/Visuels_Ecran/MIX_950.jpg);"></div>
            </a>
            <a href="javascript:void(0)" class="gallery-item-03 js_glr_img">
                <div class="bg-image imgResize-gallery03 w-100"
                    style="background-image: url(./img/Visuels_Ecran/MIX_938.jpg);"></div>
            </a>
        </div>
        <div class="gallery-wrapper__list d-flex justify-content-between">
            <a href="javascript:void(0)" class="gallery-item-04 js_glr_img">
                <div class="bg-image imgResize-gallery04 w-100"
                    style="background-image: url(./img/Visuels_Ecran/MIX_919.jpg);"></div>
            </a>
            <a href="javascript:void(0)" class="gallery-item-05 js_glr_img">
                <div class="bg-image imgResize-gallery05 w-100"
                    style="background-image: url(./img/Visuels_Ecran/MIX_955.jpg);"></div>
            </a>
            <a href="javascript:void(0)" class="gallery-item-06 js_glr_img">
                <div class="bg-image imgResize-gallery06 w-100"
                    style="background-image: url(./img/Visuels_Ecran/MIX_939.jpg);"></div>
                <img class="icon-glass" src="./img/icons/ic_magnifying_glass.svg" alt="">
            </a>
        </div>

        <div class="gallery-wrapper__slider">
            <section class="swiper gallery-swiper-sp loading">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="bg-image imgResize-galleryImg"
                            style="background-image:url(./img/Visuels_Galerie/MIX_936.jpg)">
                        </div>
                        <p class="content">Dessin de David Olère :<br />
                            Birkenau, Crématoire No. 3</p>
                    </div>

                    <div class="swiper-slide">
                        <div class="bg-image imgResize-galleryImg"
                            style="background-image:url(./img/Visuels_Galerie/MIX_950.jpg)">
                        </div>
                        <p class="content">Dessin de David Olère :<br />
                            Une mère et son enfant face à une mitraillette</p>
                    </div>

                    <div class="swiper-slide">
                        <div class="bg-image imgResize-galleryImg"
                            style="background-image:url(./img/Visuels_Galerie/MIX_938.jpg)">
                        </div>
                        <p class="content">Dessin de David Olère :<br />
                            En marche</p>
                    </div>

                    <div class="swiper-slide">
                        <div class="bg-image imgResize-galleryImg"
                            style="background-image:url(./img/Visuels_Galerie/MIX_955.jpg)">
                        </div>
                        <p class="content">Dessin de David Olère :<br />
                            Prendre le train de l'enfer</p>
                    </div>

                    <div class="swiper-slide">
                        <div class="bg-image imgResize-galleryImg"
                            style="background-image:url(./img/Visuels_Galerie/MIX_924.jpg)">
                        </div>
                        <p class="content">Dessin de David Olère :<br />
                            La dernière tétée</p>
                    </div>

                    <div class="swiper-slide">
                        <div class="bg-image imgResize-galleryImg"
                            style="background-image:url(./img/Visuels_Galerie/MIX_919.jpg)">
                        </div>
                        <p class="content">Dessin de David Olère :<br />
                            il tue un jeune à bicyclette dans la rue</p>
                    </div>

                    <div class="swiper-slide">
                        <div class="bg-image imgResize-galleryImg"
                            style="background-image:url(./img/Visuels_Galerie/MIX_939.jpg)">
                        </div>
                        <p class="content">Dessin de David Olère :<br />
                            Rassembler de la nourriture et médicaments dans un sac aux pieds d'un soldat SS, camp de
                            Birkenau</p>
                    </div>
                </div>

                <div class="swiper-action d-flex justify-content-between align-items-center">
                    <div class="smd-button-prev">
                        <img src="./img/icons/ic_arrow_left_white.png" alt="">
                    </div>

                    <div class="swiper-pagination d-flex justify-content-center align-items-center"></div>

                    <div class="smd-button-next">
                        <img src="./img/icons/ic_arrow_right_white.png" alt="">
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>